<footer class="footer position-relative light-background" id="footer">
<div class="container footer-top">
<div class="row gy-4">
<div class="col-lg-12 col-md-12 footer-about">
<div class="social-links d-flex mt-4">
<a aria-label="Instagram" href="#"><i class="bi bi-instagram"></i></a>
<a aria-label="Facebook" href="#"><i class="bi bi-facebook"></i></a>
<a aria-label="YouTube" href="#"><i class="bi bi-youtube"></i></a>
</div>
</div>
<!-- <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
<h4>Coordonnées</h4>
<p>1075 McCraney St E</p>
<p>Oakville, ON L6H 1H9</p>
<p class="mt-3"><strong>Tél.:</strong> <span>à confirmer</span></p>
<p><strong>Courriel:</strong> <span>à confirmer</span></p>
</div> -->
</div>
</div>
</footer>