<header class="header d-flex align-items-center sticky-top" id="header">
<div class="container-fluid container-xl position-relative d-flex align-items-center">
<a class="logo d-flex align-items-center me-auto" href="index.html">
<img alt="Logo de l'École secondaire Gaétan-Gervais" src="assets/img/gage-logo.png" style="max-height: 44px; margin-right: 10px;"/>
<div class="d-flex flex-column">
<span class="sitename" style="line-height:1.1; font-weight:700;">École secondaire<br/>Gaétan‑Gervais</span>
</div>
</a>
<nav class="navmenu" id="navmenu">
<ul>
<li><a href="academique.html">Academique</a></li>
<li><a href="athletisme.html">Sports</a></li>
<li><a href="calendrier.html">Calendrier</a></li>
<li><a href="nouvelles.html">Nouvelles</a></li>
<li><a href="personnel.html">Personnel</a></li>
<li><a href="https://www.embroidme-oakville.com/sr/4032133">Boutique</a></li>
<li><a href="contact.html">Contact</a></li>
<li></li>
</ul>
<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>
<button aria-label="Basculer le mode sombre" aria-pressed="false" class="theme-toggle" id="theme-toggle" type="button"><i class="bi bi-moon-stars"></i></button>