<header class="header d-flex align-items-center sticky-top" id="header">
<div class="container-fluid container-xl position-relative d-flex align-items-center">
<a class="logo d-flex align-items-center me-auto" href="/ESGAGE/index.html">
<img alt="Logo de l'École secondaire Gaétan-Gervais" src="/ESGAGE/assets/img/gage-logo.png" style="max-height: 44px; margin-right: 10px;"/>
<div class="d-flex flex-column">
<span class="sitename" style="line-height:1.1; font-weight:700;">École secondaire<br/>Gaétan‑Gervais</span>
</div>
</a>
<nav class="navmenu" id="navmenu">
<ul>
<li class="dropdown">
  <a href="/ESGAGE/academique.html"><span>Académique</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
  <ul>
    <li><a href="/ESGAGE/cours.html">Cours</a></li>
    <li><a href="/ESGAGE/programmes-specialises.html">Programmes spécialisés</a></li>
  </ul>
</li>
<li><a href="/ESGAGE/athletisme.html">Sports</a></li>
<li><a href="/ESGAGE/activite.html">Activités</a></li>
<li><a href="/ESGAGE/calendrier.html">Calendrier</a></li>
<li><a href="/ESGAGE/personnel.html">Personnel</a></li>
<li><a href="https://www.embroidme-oakville.com/sr/4032133">Boutique</a></li>
<li><a href="/ESGAGE/contact.html">Contact</a></li>
</ul>
<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>
<button aria-label="Basculer le mode sombre" aria-pressed="false" class="theme-toggle" id="theme-toggle" type="button"><i class="bi bi-moon-stars"></i></button>